# Virtual environment
myvenv/
venv/
ENV/
env/

# VS Code settings
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Environment variables
.env
*.env

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/
.DS_Store