version: "3.9"

services:
  postgres:
    build:
      context: ..
      dockerfile: docker/dockerfiles/Dockerfile-postgres
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_pass
    ports:
      - "5433:5432"
  
  redis:
    image: redis:7
    container_name: redis_celery
    ports:
      - "6380:6379"
  
volumes:
  postgres_data: